<div class="jumbotron text-center">
    <h1>The About Page</h1>
    <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>
</div>
<div> 
    <h3>Super Calculator</h3>
    <form class="form-inline ng-pristine ng-valid">
        <input ng-model="first" type="text" class="input-small ng-pristine ng-untouched ng-valid">

        <select ng-model="operator" class="span1 ng-pristine ng-untouched ng-valid" ng-options="value for (key, value) in operators">
	        <option value="ADDITION" selected="selected">+</option>
	        <option value="DIVISION">/</option>
	        <option value="MODULO">%</option>
	        <option value="MULTIPLICATION">*</option>
	        <option value="SUBTRACTION">-</option>
        </select>

        <input ng-model="second" type="text" class="input-small ng-pristine ng-untouched ng-valid">

        <button ng-click="doAddition()" id="gobutton" class="btn">Go!</button>
        
        <h2 class="ng-binding">{{latest}}</h2>
    </form>
</div>
<h4> History </h4>
<table class="table">
    <thead><tr>
        <th>Time</th>
        <th>First Argument</th>
        <th>Expression</th>
        <th>Second Argument</th>
        <th>Result</th>
    </tr></thead>
    <tbody><!-- ngRepeat: result in memory -->
    	<tr ng-repeat="result in memory">
    		<td>{{result.timestamp}}</td>
    		<td>{{result.first}}</td>
    		<td>({{result.first + result.operator + result.second}})</td>
    		<td>{{result.second}}</td>
    		<td>{{result.value}}</td>
    	</tr>
    </tbody>
</table>